body {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
}

.container-nav {
  display: flex;
  justify-content: flex-end;
  height: 5vw;
  margin-left: 0%;
  align-items: flex-end;
}
div ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  column-gap: 2%;
  width: 70%;
}

.nav-item {
  margin-top: 0.8rem;
  margin-left: 0.3rem;
  font-size: 1.2vw;
  font-weight: bold;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-style: bold;
}
.nav-list li:first-of-type {
  background-color: rgb(62, 64, 64);
}
.nav-list li:last-of-type {
  background-color: rgb(226, 181, 239);
}
.nav-list .nav-item:first-of-type a {
  color: white;
}

section div span {
  margin: 1rem;
}
h1 {
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  margin-left: 1.5vw;
  line-height: 0.3vw;
}
h3 {
  font-weight: bold;
  text-align: left;
  background-color: black;
  margin: 0;
  height: 2vw;
  color: white;
  font-size: 1.2vw;
}

div img {
  max-width: 100%;
  max-height: 1000%;
  vertical-align: middle;
}
p {
  line-height: 12%;
  font-weight: bold;
  margin: 1.6vw;
  line-height: 1.9vw;
  text-align: left;
  font-size: 1.2vw;
}
.home-flex {
  display: flex;
  padding-top: 1%;
}

.myself {
  display: flex;
  flex: 1;
  border-style: solid;
  text-align: center;
  flex-direction: column;
}
.myself h1:first-of-type {
  padding-top: 16%;
}

.myself:first-of-type {
  border-right: 0;
}

.empty {
  width: 100;
  height: 4vw;
  border-style: solid;
  border-top: 0;
  display: flex;
  align-items: center;
}
.empty h1 {
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  line-height: 0.3vw;
  margin: 0%;
}
.experience-flex {
  display: flex;
}

.exp {
  display: flex;
  flex: 1;
  border-style: solid;
  text-align: center;
  flex-direction: row;

  border-top: 0;
}
.exp:first-of-type {
  border-right: 0;
}
.exp img {
  width: 40%;
  height: 40%;
  margin: 6%;

  border-style: solid;
  border-width: thin;
}
.exp p {
  float: right;
}
