body {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 5vw;
  margin: 0 auto;
}
.container-nav {
  display: flex;
  justify-content: flex-end;
  height: 5vw;
  position: fixed;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  height: 3vw;
}
nav li {
  margin-left: 2em;
}
.nav-item {
  margin-left: 0.3rem;
  font-size: 1vw;
  font-weight: bold;
}

.nav-item a {
  text-decoration: none;
  color: black;
}
.nav-list li:first-of-type {
  background-color: rgb(62, 64, 64);
}
.nav-list li:last-of-type {
  background-color: rgb(226, 181, 239);
}
.nav-list .nav-item:first-of-type a {
  color: white;
}

section div span {
  margin: 1rem;
}
h1 {
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  margin-left: 1.5vw;
  line-height: 0.3vw;
}
h3 {
  font-weight: bold;
  text-align: left;
  background-color: black;
  margin: 0;
  height: 2vw;
  color: white;
  font-size: 1.2vw;
}

div img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
p {
  line-height: 12%;
  font-weight: bold;
  margin: 1.6vw;
  line-height: 1.9vw;
  text-align: left;
  font-size: 1.2vw;
}
.home-flex {
  display: flex;
  padding-top: 5vw;
}

.myself {
  display: flex;
  flex: 1;
  border-style: solid;
  text-align: center;
  flex-direction: column;
}
.myself h1:first-of-type {
  padding-top: 15%;
}

.myself:first-of-type {
  border-right: 0;
}

.empty {
  width: 99.5%;
  height: 4vw;

  border-style: solid;
  border-top: 0;
}
